---
import Layout from '../layouts/Layout.astro';
import ReactRoom from '../components/rooms/ReactRoom';
import VueRoom from '../components/rooms/VueRoom.vue';
import SvelteRoom from '../components/rooms/SvelteRoom.svelte';
import SolidRoom from '../components/rooms/SolidRoom';
---

<Layout>
	<div class="grid grid-cols-2 grid-rows-2 h-screen w-screen bg-slate-900">
		<ReactRoom 
			client:only="react" 
			dayImage="/rooms/react-day.png" 
			nightImage="/rooms/react-night.png" 
		/>
		<VueRoom 
			client:visible 
			dayImage="/rooms/vue-day.png" 
			nightImage="/rooms/vue-night.png" 
		/>
		<SvelteRoom 
			client:only="svelte" 
			dayImage="/rooms/svelte-day.png" 
			nightImage="/rooms/svelte-night.png" 
		/>
		<SolidRoom 
			client:visible 
			dayImage="/rooms/solid-day.png" 
			nightImage="/rooms/solid-night.png" 
		/>
	</div>
</Layout>

