---
import Layout from '../layouts/Layout.astro';
import ReactRoom from '../components/rooms/ReactRoom';
import VueRoom from '../components/rooms/VueRoom.vue';
import SvelteRoom from '../components/rooms/SvelteRoom.svelte';
import SolidRoom from '../components/rooms/SolidRoom';
import MusicPlayer from '../components/MusicPlayer.svelte';
---

<Layout>
	<MusicPlayer client:load />
	<div class="grid grid-cols-2 grid-rows-2 h-screen w-screen bg-slate-900">
		<ReactRoom 
			client:load 
			dayImage="/rooms/react-day.webp" 
			nightImage="/rooms/react-night.webp" 
		/>
		<VueRoom 
			client:load 
			dayImage="/rooms/vue-day.webp" 
			nightImage="/rooms/vue-night.webp" 
		/>
		<SvelteRoom 
			client:load 
			dayImage="/rooms/svelte-day.webp" 
			nightImage="/rooms/svelte-night.webp" 
		/>
		<SolidRoom 
			client:load 
			dayImage="/rooms/solid-day.webp" 
			nightImage="/rooms/solid-night.webp" 
		/>
	</div>
</Layout>

